*{
  border-radius: 0.5;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 24px;
  row-gap: 24px
}

.column {
  height: 100px;
  background-color: #89CDF2;
  color: #343B40;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}

.grid-ryf {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 100px); */
  /* grid-template-columns: 100px 100px 1fr 100px; */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: [c1] 100px [c2] 100px [c3];
  grid-template-rows: 100px 100px;
  grid-rows: 50px;
  /* place-items: stretch stretch; */
  width: 666px;
  /* height: 100px; */
  border: 1px solid black;
}

.column-ryf {
  background-color: #89CDF2;
  color: red;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid black;
}
.item5 {
  grid-column-start: c1;
  grid-column-end: c3;
}

.flex-box {
  border: 1px solid black;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
}
.flex-item {
  width: 100px;
  background-color: yellow;
}
.layout {
  color:#343B40;
  font-weight: bold;
  text-align: center;
  font-size: 20px;

  display: grid;
  grid-template-areas: "header header header" "sidebar content content" "footer footer footer";
  gap: 12px;
}

.header {
  grid-area: header;
  background-color: #D06A7C;
  height: 100px;
  line-height: 100px;
}
.aside {
  grid-area: sidebar;
  background-color:#EFC570;
  height: 200px;
  line-height: 200px;
}
.main {
  grid-area: content;
  background-color: #89CDF2;
  height: 200px;
  line-height: 200px;
}
.footer {
  grid-area: footer;
  background-color: #8BD88F;
  height: 100px;
  line-height: 100px;
}